"*":
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "welcome"
      "atom-autocomplete-php"
    ]
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    backUpBeforeSaving: true
    fontFamily: "Hack"
    preferredLineLength: 120
    showIndentGuide: true
  linter: {}
  emmet: {}
  tabs:
    usePreviewTabs: true
    enableVcsColoring: true
  "atom-beautify":
    _analyticsUserId: "17aba8af-1231-4289-a5a0-4f6b9be9c2db"
  "atom-autocomplete-php": {}
  "autocomplete-php": {}
