"*":
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "welcome"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    backUpBeforeSaving: true
    fontFamily: "Hack"
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
  linter: {}
  emmet: {}
